@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
<div class="conatiner">
    <h2>
        Company Name:
    </h2>
    <p style="font-size:16px">
WorldwideFrame.
</p>

    <h2>About us:</h2>
    <p style="font-size:16px">
        We are the one of the top 20 companyies in Canada since from 2016. We make frames for all kind of purpose. In the year of 2011, we started with 20 employees, on small size. In our starting period, We struggled alot, we faced so many downs in our business but we did not loose our hope.
        After 5 Years, we were getting popularity and we thought to shift our business from locally to internationally. We researched alot and took advices from many succesful persons. At the end, We shifted to Online market.
    </p>

    <h2>What we sell:</h2>
    <p style ="font-size:16px">
        As all you know that we are top company among Frames products and we are selling various types of Frames e.g Wood frame, Glass frame, Plasstic frame, Siver frame, Gold frame, Metal frame and so on.
    </p>

    <h2>
Customer Satisfaction: </h2>
    <p style="font-size:16px">
        We honour to say that we are selling 1k frames every month and some time more of that. We are more focused about our customers. We usually took surveys from our customers for their satisfaction. We are proud to say that our customers satisfaction is 87%.
    </p>

    <h2>Founder and Employees:</h2>
    <p style="font-size:16px">
        "Mr.Gurjeet Singh" is our Founder and CEO of "Worldwide Frame" company he is owned 5 more international companies. "Mrs.Singh" is manager "Worldwide Frame" Currently, we working with 750 employees and we will inculde more and more people by the time.

    </p>
    </div>